<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <listManagement.exportContacts>
        <processor type="Sitecore.ListManagement.ContentSearch.Pipelines.ExportContacts.GetContactRows, Sitecore.ListManagement.ContentSearch" >
          <patch:attribute name="type">Sitecore.Support.ListManagement.ContentSearch.Pipelines.ExportContacts.GetContactRows, Sitecore.Support.220469</patch:attribute>
        </processor>
      </listManagement.exportContacts>
    </pipelines>
  </sitecore>
</configuration>